body {
background: url('https://img.clipartfest.com/52fd56a485d2fe08237cb5ab786a7e9d_cash-in-on-the-crowd-the-crowd_1758-874.jpeg') no-repeat center center fixed;
color: #333;
font-size: 14px;
line-height: 1.4;
}

main {
  background: rgba(250, 235, 215, 0.3);
  display: flex;
  padding: 15px;
}

#template__container {
  display: flex;
  justify-content: space-between;
  margin: 15px 25px;
}

img {
  max-width: 250px;
}

a {
  font-size: 16px;
  padding: 3px;
  text-decoration: none;
}
