.fr__container {
  display: flex;
  justify-content: space-around;
}

.fr__image {
  border-radius: 50%;
  width: 150px;
}

.fr__indCont {
  display: flex;
  flex-flow: column;
  margin: 10px 15px;
}
