#login__container {
  align-items: center;
  background: $oil;
  border: 2px solid $hillary;
  border-radius: 10px;
  color: $offWhite;
  display: flex;
  justify-content: center;
  margin: 15px;
  padding: 25px 15px;
}

.login__title {
  font-weight: 600;
  padding: 12px;
}

input {
  margin: 0px 15px;
  padding: 10px;
}

.login__btn {
  background: $offWhite;
  color: $oil;
  margin: 10px;
  padding: 10px;
}
