.songs__container {
  display: flex;
  justify-content: center;
  width: 100%;
}

th {
  width: 25%;
}

#details__go-back {
  padding: 10px 15px;
  background: $offWhite;
  color: $oil;
  border: 1px solid $oil;
}
