.songs__container {
  display: flex;
  justify-content: center;
  width: 100%;
}

th {
  font-size: 22px;
  color: $offWhite;
  padding: 5px 0 10px 0;
  text-align: left;
  width: 50%;
}

td {
  padding: 5px 0px;
  font-size: 18px;
  a {
    color: $offWhite;
  }
}

.details__go-back { // button
  background: $offWhite;
  border: 1px solid $oil;
  color: $oil;
  margin-top: 25px;
  padding: 10px 15px;
  width: 150px;
}

#songs__noisecontainer {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}
span.noise_detail {
  display: flex;
  flex-flow: row wrap;
  font-weight: 600;
  margin-left: 20px;
  width: 90%;
}

.noise_imgDetail {
  width: 40%;
}

.noise__allDetails {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.noise__otherDetails {
  display: flex;
  flex-flow: row wrap;
  width: 60%;
}
