$vspace: 15px;
$hspace: 10px;


$oil: #262214;
$hillary: #A69D81;
$kabul: #595142;
$espresso: #591E18;
$burntUmber: #8C2626;

$offWhite: #FAEBD7;

$lightGr: #697672;
$medGr: #646960;
$lightBr: #B59465;
$medBr: #7E5D44;
$darkBr: #7B563F;
