<!doctype html>
<h1>Friends Section</h1>
<span class="header__welcome">User: <span class="header__user"> {{logCtrl.isStupid()}}</span></span>
<div class="fr__container">
    <div class="fr__indCont">
        <img class="fr__image" src="./src/images/ross.png">
        <span class="fr__name">Dr. Ross</span>
        <span class="fr__songNum">Album(s) liked: {{friendsCtrl.rare[0]}}</span>
        <span class="fr__favNum">Favorite Artist: {{friendsCtrl.favAlbumName[0]}}</span>
    </div>
    <div class="fr__indCont">
        <img class="fr__image" src="./src/images/joey.png">
        <span class="fr__name">Joey</span>
        <span class="fr__songNum">Album(s) liked: {{friendsCtrl.rare[1]}}</span>
        <span class="fr__favNum">Favorite Artist: {{friendsCtrl.favAlbumName[1]}}</span>
    </div>
    <div class="fr__indCont">
        <img class="fr__image" src="./src/images/phoebe.png">
        <span class="fr__name">Phoebe</span>
        <span class="fr__songNum">Album(s) liked: {{friendsCtrl.rare[2]}}</span>
        <span class="fr__favNum">Favorite Artist: {{friendsCtrl.favAlbumName[2]}}</span>
    </div>

</div>
