<!doctype html>
<div id="login__container">
    <form name="loginForm" type="submit" ng-submit="logCtrl.userLogin(loginForm.name.$viewValue, loginForm.password.$viewValue)" novalidate>
        <span class="login__title">Please log in: </span>
        <input ng-model="logCtrl.userInput.name" type="text" name="name" placeholder="Name">
        <input ng-model="logCtrl.userInput.password" type="password" name="password" placeholder="Password">
        <button class="login__btn">LOGIN</button>
    </form>
</div>
