<!doctype html>
<h1>Noise</h1>
<div id="songs__noisecontainer" class="songs__container">
    <span class="header__welcome">User: <span class="header__user"> {{logCtrl.isStupid()}}</span></span>

    <div class="noise__allDetails">
        <span class="noise_imgDetail"><img ng-src="{{noiseCtrl.selectedSong.img_url}}"></span>
        <div class="noise__otherDetails">
            <span class="noise_detail">{{noiseCtrl.selectedSong.artist}}</span>
            <span class="noise_detail">{{noiseCtrl.selectedSong.title}}</span>
            <span class="noise_detail"><a href="{{noiseCtrl.selectedSong.web_url}}" target="_blank">Learn the Songs</a></span>
            <span class="noise_detail">{{noiseCtrl.selectedSong.year}}</span>
        </div>
    </div>
    <a href="#" ui-sref="musicParent.songsCtrl" class="details__go-back">Back to Songs</a>

</div>
