<!doctype html>
<h1>Songs Section</h1>
<div class="songs__container">
    <table>
        <tr>
            <th ng-click="songsCtrl.orderByField='artist'; songsCtrl.reverseSort = !songsCtrl.reverseSort">Artiste</th>
            <th ng-click="songsCtrl.orderByField='title'; songsCtrl.reverseSort = !songsCtrl.reverseSort">Song Title</th>
        </tr>
        <tr ng-repeat="song in songsCtrl.allSongs | orderBy: songsCtrl.orderByField: songsCtrl.reverseSort">
            <td><a href="" ng-click="songsCtrl.showDetails()">{{song.artist}}</a></td>
            <td>{{song.title}}</td>
            <td ng-show="songsCtrl.details"><img src="./src/images/slayer.png"></td>
            <td ng-show="songsCtrl.details"><a href="{{song.web_url}}">Learn the Songs</a></td>
            <td ng-show="songsCtrl.details">{{song.year}}</td>
        </tr>
    </table>

</div>
