<!doctype html>
<h1>Songs Section</h1>
<div class="songs__container">
    <span class="header__welcome">User: <span class="header__user"> {{logCtrl.isStupid()}}</span></span>
    <table>
        <tr>
            <th ng-click="songsCtrl.orderByField='artist'; songsCtrl.reverseSort = !songsCtrl.reverseSort">Artiste</th>
            <th ng-click="songsCtrl.orderByField='title'; songsCtrl.reverseSort = !songsCtrl.reverseSort">Album Title</th>
        </tr>
        <tr ng-repeat="song in songsCtrl.allSongs | orderBy: songsCtrl.orderByField: songsCtrl.reverseSort">
            <td><a ui-sref="musicParent.noiseCtrl({id: song.id})">{{song.artist}}</a></td>
            <td>{{song.title}}</td>
        </tr>
    </table>
</div>
